*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.root {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  color: #5a1094;
}

.container {
  width: 700px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartContainer {
  width: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span {
  background: #5a1094;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

h1 {
	color: red
}

.sectionContainer {
	height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 400px 300px;
  justify-content: center;
	padding-top: 50px;
  background: #979797;
}

.sectionRoot {
  width: 700px;
	height: 580px;
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(200px, auto);
	border-radius: 10px 0 0 10px;
}

.formConatiner {
  width: 400px;
  height: 100%;
	border-radius: 10px 0 0 10px;
  display: grid;
  grid-template-rows: 50px 50px auto;
  grid-gap: 0.5rem;
  justify-content: center;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  background: #FFFFFF;
}

.formHeaderContainer {
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #979797;
  text-decoration: none;
  margin: 0;
}

.active {
  color: #5a1094;
}

.orderContainer {
  background: #e3e3e3;
  width: 300px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-gap: 1rem;
}

.form {
  width: 320px;
  height: 493px;

}
